@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* estilos nav */
.navbar-brand {
  font-size: 22px !important;
}

.navbar {
  background-color: white !important;
  border-bottom: 2px solid black;
  height: 80px;
}

.nav-link {
  font-size: 14px;
  color: black !important;
}

#navbarNav {
  background-color: white;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: end !important;
}

nav ul li:hover a {
  color: #bfb8ae !important;
}

/* estilos main */
article {
  /* border: 2px solid black; */
  height: 500px;
}

#img-izq {
  width: 100%;
  height: 500px;
  /* background-color: violet; */
  background-image: url(/imagenes/ceramica4.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  padding-top: 80px;
}

#img-der {
  width: 100%;
  height: 500px;
  background-image: url(/imagenes/img-taller.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#boton1 {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#boton2 {
  font-size: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#sec2 {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

#sec2 p {
  text-align: right;
  font-size: 14px;
  padding-top: 41.5px;
  padding-bottom: 41.5px;
  margin-bottom: 0px !important;
  /* padding-right: 18px; */
}

#sec2 p a {
  text-decoration: underline;
  color: black;
}

/* estilos section form */
#sec3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

#sec3 p {
  font-size: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.form-inline {
  color: black;
  font-size: 14px !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  padding-top: 10px;
}

.form-control-sm {
  border-bottom: #000 solid 1px !important;
}

.btn {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  border: #000 solid 1px !important;
}

/* estilos footer */
footer {
  height: 60px;
  font-weight: 100%;
  /* background-color:#d9d9d9; */
  border-top: #000 solid 1px;
}

footer ul li {
  font-size: 12px;
  display: inline-block;
  padding-left: 20px;
  padding-top: 23px;
}

footer ul li a {
  color: black;
}

footer ul li:hover a {
  color: #bfb8ae;
  text-decoration: none;
}

/* estilos page shop */
#main-shop {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #000;
  /* background-color: red; */
}

.galeria {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 10px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  /* background-color: red; */
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.items {
  /* border: #000 2px solid; */
  height: 455px;
  width: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-img {
  /* background-color: rgb(112, 109, 106); */
  height: 400px;
  width: 300px;
}

.product-name {
  /* background-color: violet; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 300px;
  height: 55px;
  padding: 10px 10px;
  color: #000;
}

.product-name h5 {
  font-size: 13px;
}

.product-name a {
  color: black;
  text-decoration: none;
}

.product-name h5:hover a {
  color: #bfb8ae;
}

.price {
  font-size: 13px;
}

#item-img1 {
  background-image: url(/imagenes/item1.jpeg);
  background-size: cover;
  background-position: center;
}

#item-img2 {
  background-image: url(/imagenes/item2.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img3 {
  background-image: url(/imagenes/item3.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img4 {
  background-image: url(/imagenes/item4.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img5 {
  background-image: url(/imagenes/item5.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img6 {
  background-image: url(/imagenes/item6.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img7 {
  background-image: url(/imagenes/item7.jpeg);
  background-size: cover;
  background-position: bottom;
}

#item-img8 {
  background-image: url(/imagenes/imagen1.jpeg);
  background-size: cover;
  background-position: bottom;
}

/* estilos page about */
#main-about p {
  font-size: 13px;
  height: 200px;
  text-align: center;
  padding: 30px 30px;
}

#img-taller {
  background-image: url(/imagenes/taller1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  height: 500px;
}

@media screen and (min-width: 768px) {
  /* estilos page shop */
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    /* column-gap: 10px; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    /* padding-top: 10px;
    padding-bottom: 10px; */
  }
  .items {
    /* border: #000 2px solid; */
    height: 455px;
    width: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  /* estilos index */
  article {
    /* border: 2px solid black; */
    height: 700px;
  }
  #img-izq {
    width: 100%;
    height: 700px;
    /* background-color: violet; */
    background-image: url(/imagenes/ceramica4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    padding-top: 80px;
  }
  #img-der {
    width: 100%;
    height: 700px;
    background-image: url(/imagenes/img-taller.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #boton1 {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #boton2 {
    font-size: 25px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #sec3 p {
    font-size: 16px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  /* estilos page shop */
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    /* column-gap: 10px; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    width: 100%;
    /* padding-top: 10px;
        padding-bottom: 10px; */
  }
  .items {
    /* border: #000 2px solid; */
    height: 455px;
    width: 300;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* estilos page about */
  #img-taller {
    background-image: url(/imagenes/taller1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    height: 600px;
  }
}
/*# sourceMappingURL=estilos.css.map */